
body {
  margin-top: 10px;
}

canvas {
  border: 1px solid red;
}

canvas:hover {
  cursor: default;
}

.iamenu {
  list-style-type: none;
  padding-left: 0;
  margin-left: 10px;
  display: flex;
}

.iamenu > li {
  padding: 0px 5px 2px;
  font-weight: bold;
  border: 1px solid #ddd;
}
.status {
  margin-left: 2px;
  font-size: 0.9em;
  height: 150px;
  color: #3a3a3a;
  background-color: #eaeaea;

  overflow-y: scroll;
}