extends layout

block content

  div.navbar.navbar-default.navbar-fixed-top
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href="#") epl-ged
      div.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active  
            a(href="#") GED
          li
            a(href="#") Edit
        ul.nav.navbar-nav.navbar-right
          li
            a(href="#") Login
  div.row
    div.col-md-1
      ul
        li 
          a(href="#") Line
        li 
          a(href="#") Circle
    div.col-md-10
      canvas#canvas(width="600", height="400")
  script(src="javascript/main.js")